body {
    background-color: #ffffff;
}

.container {
    max-width: 1600px;
}

#meteo-inner {
    margin: 0px;
}

#collapseLegende {
    background-color: #ffffff;
}

.service {
    margin: 10px;
    padding: 10px;
    color: white;
    border: 0px solid #343c59;
    background-color: #343c59;
    white-space: nowrap;
    font-weight: bold;
}

.profil {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    white-space: nowrap;
    font-weight: bold;
    border: 1px solid #ecedf3;
}

.tuile-0 {
    padding: 10px;
    color: #000000;
}

.tuile-inner-0 {
    background-color: #bbbbbb;
    border: 1px solid #666666;
    padding: 10px;
}

.tuile .card-text {
    color: #000000;
}

.tuile .card-text p {
    margin-top: 0px;
    margin-bottom: 0px !important;
}

.tuile-3 {
    padding: 10px;
    color: #94124E;
}

.tuile-inner-3 {
    background-color: #ffffff;
    border: 1px solid #94124E;
    padding: 10px;
}

.tuile-qos-3 {
    background-color: #DB2C66;
    border: 1px solid #94124E;
    padding: 10px;
    color: #ffffff;
}

.tuile-2 {
    padding: 10px;
    color: #945400;
}

.tuile-inner-2 {
    background-color: #ffffff;
    border: 1px solid #945400;
    padding: 10px;
}

.tuile-qos-2 {
    background-color: #DB8B00;
    border: 1px solid #945400;
    padding: 10px;
    color: #ffffff;
}

.tuile-1 {
    padding: 10px;
    color: #007566;
}

.tuile-inner-1 {
    background-color: #ffffff;
    border: 1px solid #007566;
    padding: 10px;
}

.tuile-qos-1 {
    background-color: #00B383;
    border: 1px solid #007566;
    padding: 10px;
    color: #ffffff;
}

.table {
    background-color: #ecedf3;
    padding: 20px;
}

.table thead th {
    border: 0px;
}

.table tbody tr th {
    margin-right: 20px;
    text-align: center;
}

.table th {
    padding: 0px;
}

.table td {
    padding: 0px;
    border: 0px;
}

.table-responsive th {
    border: 0px;
    margin-right: 20px;
    text-align: center;
}

.table-responsive td {
    border: 0px;
}